<% if(uniqueId === undefined){ %>
  <% include ./partials/_header %>
<% }else{ %>
  <% include ./partials/_header2 %>
<% } %>
      <h2> URLs: </h2>

    <!-- %= Object.keys(urls) %-->
    <% for (var prop in urls) { %>

      <li>
        <b> <%= prop %>: </b>
        <a href="/u/<%= prop %>">
          <%= urls[prop].link %>
        </a>

          <div class="url-index" >
          <a href="/urls/<%= prop %>"> Edit</a>
          <form method="POST" action="/urls/<%= prop %>/delete">
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
          </div>


      </li>

<% } %>
</body>
</html>