
<% include ./partials/_header2 %>

      <h2> My URLs </h2>
      <a href="/urls/new">Create New TinyURL </a>
      <br> </br>

    <!-- %= Object.keys(urls) %-->
    <% for (var prop in urls) { %>

      <li>
        <b> <%= prop %>: </b>
        <a href="/u/<%= prop %>">
          <%= urls[prop] %>
        </a>
        <div class="form-inline" >
        <a href="/urls/<%= prop %>"> Edit</a>
        <form method="POST" action="/urls/<%= prop %>/delete">
          <button type="submit" class="btn btn-primary">Delete</button>
        </form>
        </div>

      </li>

<% } %>
</body>
</html>